div.a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 400%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;

}

div.b {
  font-family: 'IBM Plex Mono', monospace;
  /*font-size: 400%;*/
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  line-height: calc(1.2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow-wrap: break-word;
}

div.c {
  font-family: 'PT Sans', sans-serif;
  font-size: 200%;
  font-weight: lighter;
  text-align: center;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;

}

div.d {
/*  font-size: 300%;*/
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;
}

div.weird{
  font-family:'Varela Round', sans-serif;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  color: rgba(214, 211, 211, 1);
/*  font-size: 400%;*/
  top: 73%;
  left: 80%;
  width: 80%;
  position: fixed;
  transform: translate(-10%, -5%);
}
