div.a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 400%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;
}

div.e {
  font-family: 'IBM Plex Mono', monospace;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  line-height: calc(1.2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;
}

div.b {
  font-family: 'IBM Plex Mono', monospace;
  /*font-size: 400%;*/
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  line-height: calc(1.2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow-wrap: break-word;
}

div.c {
  font-family: 'PT Sans', sans-serif;
  font-size: 200%;
  font-weight: lighter;
  text-align: center;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-wrap: break-word;

}

div.d {
/*  font-size: 300%; */
/*  transform-origin:  50px 50px;
  transform: translate(2,1); */
  animation: mymove 4s forwards;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
/*  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;*/
  overflow-wrap: break-word;
}

@keyframes mymove {
  0% {
    top: 50%;
    left: 50%
  }
  100% {
    top: 80%;
    left: 80%;
  }
}

@keyframes tweetmove {
  0% {
    top: 50%;
    left: 50%
  }
  100% {
    top: 80%;
    left: 13%;
  }
}

@keyframes mailmove {
  0% {
    top: 50%;
    left: 48%
  }
  100% {
    top: 70%;
    left: 48%;
  }
}

@keyframes linkedinmove {
  0% {
    top: 50%;
    left: 50%
  }
  100% {
    top: 10%;
    left: 13%;
  }
}
@keyframes lightmove {
  0% {
    top: 50%;
    left: 50%
  }
  100% {
    top: 10%;
    left: 80%;
  }
}

div.d2 {
/*  font-size: 300%; */
/*  transform-origin:  50px 50px;
  transform: translate(2,1); */
  animation: tweetmove 3s forwards;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
/*  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;*/
  overflow-wrap: break-word;
}

div.d3 {
/*  font-size: 300%; */
/*  transform-origin:  50px 50px;
  transform: translate(2,1); */
  animation: mailmove 3s forwards;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
/*  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;*/
  overflow-wrap: break-word;
}

div.linked {
/*  font-size: 300%; */
/*  transform-origin:  50px 50px;
  transform: translate(2,1); */
  animation: linkedinmove 3s forwards;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
/*  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;*/
  overflow-wrap: break-word;
}

div.d4 {
/*  font-size: 300%; */
/*  transform-origin:  50px 50px;
  transform: translate(2,1); */
  animation: lightmove 3s forwards;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  text-align: center;
  position: fixed;
/*  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;*/
  overflow-wrap: break-word;
}


/*div.weird{
  height: inherit;
  width: inherit;
  font-family:'Varela Round', sans-serif;
  font-size: calc(47px + (60 - 47) * ((100vw - 200px) / (1600 - 300)));
  color: rgba(214, 211, 211, 1);
  font-size: 400%;
  top: 75%;
  left: 80%;
  width: 80%;
  position: fixed;
  transform: translate(-10%, -5%);
}*/
